h1 {
  margin: 50px 75px 50px 75px;
  padding: 30px 100px 30px 100px; 
}

.title {
  font-family: sans-serif;
  font-size: 40;
  padding: 40px;
  border-style: groove;
  border-width: 5px;
}

.center {
  height: 500px;
  position: relative;
}

.center-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.start {
  font-size: 20;
  font-family: sans-serif;
  text-align: center;
  background-color: beige;
  color: darkred;
  display: inline-block;
  padding: 20px;
  border: 2px solid red;
  border-radius: 16px;
  margin: 4px 2px;
}

#tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  margin: auto;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
}


td {
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}